<html>
<style>
{% include "style.tmpl" %}
{{ source_style }}
</style>
<script type="text/javascript">
{% include "interaction.tmpl" %}
</script>
<body>
{% include "visualization.tmpl" %}
</body>
</html>
