div.visualization {
    overflow: hidden;
    height: 100%;
}

div.simulation-flow {
    width: 40%;
    max-width: 50%;
    height: 100%;
    float: left;
    overflow: auto;
}

div.sourcecode {
    height: 100%;
    overflow: auto;
}

div.sourcecode div.navbar {
}

div.sourcecode div.navbar ul {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: lightgray;
}

div.sourcecode div.navbar ul li {
    display: inline;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

div.sourcecode div.navbar ul li.active {
    background-color: white;
}

div.sourcecode .code .highlight .hll{
    background-color: transparent;
}

div.sourcecode .code .highlight .hll.active {
    background-color: #DDA;
}

div.sourcecode div.hidden {
    display: none;
}

path.live {
    stroke: gray;
}

path.flow {
    stroke: black;
    fill: none;
}

.state {
    stroke: black;
    fill: white;
}

rect.timestep {
    fill: gray;
}

g.icon {
    stroke-width: 0.15;
}

g.icon circle {
    stroke: gray;
    fill: white;
}

g.icon path {
    stroke: black;
    fill: none;
}

circle.join {
    stroke: black;
    fill: yellow;
}

circle.wait {
    stroke: black;
    fill: blue;
}

div.popup {
    background: white;
    border: 1px solid gray;
    padding: 2px;
    margin: 2px;
}

div.popup h2 {
    font-size: 12pt;
    margin: 2px;
    text-align: center;
}

div.popup p {
    padding: 2px;
    margin: 2px;
}

div.popup span.code {
    font-family: monospace;
}

div.popup div.code {
    white-space: pre;
    font-family: monospace;
    background: #FBE54E;
}

div.popup div.code p {
    padding: 1px;
    margin: 1px;
}

div.popup div.code p.active {
    font-weight: bold;
}
