<div class="visualization">
<script type="text/javascript">
popups = {};
{{ popupinfo }}
</script>
<div class="simulation-flow">
<div name="popup" class="popup" style="display: none">
</div>
<svg width="{{ width }}" height="{{ height }}"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
    {% for name, code in icon_defs %}
        <g id="{{ name }}-icon" class="{{ name }} icon">{{ code }}</g>
    {% endfor %}
</defs>
<g transform="translate({{ x_shift }}, {{ y_shift }})">
<filter id="dropshadow" width="150%" height="150%">
    <feGaussianBlur in="SourceAlpha" stdDeviation="2"/>
    <feOffset dx="2" dy="2" result="offsetblur"/>
    <feComponentTransfer>
        <feFuncA type="linear" slope="0.6"/>
    </feComponentTransfer>
    <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
    </feMerge>
</filter>

{{timestep}}
{{controlflow}}
{{block}}
{{event}}
</g>
</svg>
</div>
<div name="sourcecode" class="sourcecode">
<div class="navbar">
    <ul>
        {% for filename, code in sources %}
        <li onclick="show_source('{{ filename }}')">{{ filename }}</li> 
        {% endfor %}
    </ul>
</div>

<div name="page">
    {% for filename, code in sources %}
    <div name="{{ filename }}" class="{{ '' if loop.first else 'hidden' }}">
    {{ code }}
    </div>
    {% endfor %}
</div>
</div>
</div>
</div>
